<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">BookWithMe </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2 bwm-search" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 btn-bwm-search" type="submit">Search</button>
  </form>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!authService.isAuthenticated(); else notAuthenticated">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
        </li>
      </ng-container>
      <ng-template #notAuthenticated>
        <li class="nav-item">
          <a class="nav-link">{{authService.getUsername()}}</a>
        </li>
        <li class="nav-item" (click)="logout()">
          <a class="nav-link">Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
